<?xml version='1.0' encoding='utf-8'?>
<widget id="chaffy.chaffy" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>chaffy</name>
    <description>
        Chaffy was built with Ionic, Cordova, AngularJS, and Firebase.
    </description>
    <author email="chaffy.me@gmail.com" href="http://chaffy.me">
       Team App Factory
    </author>
    <content src="index.html" />
    <access origin="*" />
	

    <preference name="fullscreen" value="false" />
    <!--<preference name="fullscreen" value="true" /> -->
    <preference name="webviewbounce" value="false" />
    <preference name="UIWebViewBounce" value="false" />
    <preference name="android-windowSoftInputMode" value="stateVisible|adjustResize" />
   <!--
    <feature name="Keyboard">
        <param name="android-package" value="com.ionic.keyboard.IonicKeyboard" />
        <param name="onload" value="true" />
      </feature>
   -->
	<!--
    <feature name="Geolocation">
    <param name="android-package" value="org.apache.cordova.GeoBroker" />
</feature>
    <feature name="NetworkStatus">
    <param name="android-package" value="org.apache.cordova.NetworkManager" />
</feature>
    
   <feature name="Notification">
    <param name="android-package" value="org.apache.cordova.Notification" />
</feature>
    
    <feature name="SplashScreen">
        <param name="ios-package" value="CDVSplashScreen" />
    </feature>
    -->
    <preference name="AutoHideSplashScreen" value="false" />

	
	<!-- Platforms for build. -->
<gap:platforms>
    <gap:platform name="android" />
 </gap:platforms>

	
	<!-- Plugins can also be added here. -->
	<!--
		<gap:plugin name="Example" />       
		A list of available plugins are available at https://build.phonegap.com/docs/plugins
	<gap:plugin name="org.apache.cordova.vibration" version="0.3.7" />
	<gap:plugin name="org.apache.cordova.splashscreen" version="0.2.7" />
	-->
	<gap:plugin name="org.apache.cordova.device" version="0.2.8" />
	<gap:plugin name="org.apache.cordova.geolocation" version="0.3.2" />
	<gap:plugin name="org.apache.cordova.network-information" version="0.2.3" />
	<gap:plugin name="org.apache.cordova.dialogs" version="0.2.6" />

	<!-- Define app icon for each platform. -->
	<icon src="pg-images/icon-57x57.png"/>
	<icon src="pg-images/icon-57x57.png" gap:platform="ios" width="57" height="57" />
	<icon src="pg-images/icon-72x72.png" gap:platform="ios" width="72" height="72" />
	<icon src="pg-images/icon-114x114.png" gap:platform="ios" width="114" height="114" />
	<icon src="pg-images/icon-36x36.png" gap:platform="android" gap:density="ldpi" />
	<icon src="pg-images/icon-48x48.png" gap:platform="android" gap:density="mdpi" />
	<icon src="pg-images/icon-72x72.png" gap:platform="android" gap:density="hdpi" />
	<icon src="pg-images/icon-62x62.png" gap:platform="winphone" />
	<icon src="pg-images/icon-173x173.png" gap:platform="winphone" gap:role="background" />

	<!-- Define app splash screen for each platform. -->
	<gap:splash src="pg-images/splash-320x480.png" />
	<gap:splash src="pg-images/splash-320x480.png" gap:platform="ios" width="320" height="480" />
	<gap:splash src="pg-images/splash-640x960.png" gap:platform="ios" width="640" height="960" />
	<gap:splash src="pg-images/splash-640x1136.png" gap:platform="ios" width="640" height="1136" />
	<gap:splash src="pg-images/splash-240x320.png" gap:platform="android" gap:density="ldpi" />
	<gap:splash src="pg-images/splash-320x480.png" gap:platform="android" gap:density="mdpi" />
	<gap:splash src="pg-images/splash-480x720.png" gap:platform="android" gap:density="hdpi" />
	<gap:splash src="pg-images/splash-480x800.jpg" gap:platform="winphone" />

	<!--
	        Define access to external domains.
	
	        <access />            - a blank access tag denies access to all external resources.
	        <access origin="*" /> - a wildcard access tag allows access to all external resource.

	        Otherwise, you can specify specific domains:
	-->
	<access origin="http://127.0.0.1*"/> <!-- allow local pages -->
	<!--
		<access origin="http://phonegap.com" />                    - allow any secure requests to http://phonegap.com/
		<access origin="http://phonegap.com" subdomains="true" />  - same as above, but including subdomains, such as http://build.phonegap.com/	
		<access origin="http://phonegap.com" browserOnly="true" /> - only allows http://phonegap.com to be opened by the child browser.
	-->
</widget>
